<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="src/app/welcome/image.svg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Shekhar Menon</h3>
      </div>

      <div class="text-center">@dedsecxlr8</div>
      <div class="text-center">
        <a href="github.com/shekharrulz">Github Codes</a>
      </div>
    </div>
  </div>
</div>
